{% extends "pricing/basic.html" %} 
{% block title %}Pricing{% endblock title %} 

{% block content %}
<div class="cleaner h20"></div>
<h2>Don't know which package is the best for you?</h2>


<table class="features" cellspacing=0>
	<thead>
		<tr>
			<th class="width_300"> </th>
			<th>Basic</th>
			<th>Premium</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="width_300"><b>Survey sendout:</b>
				<br>How many survey invitations are we going to send to your customers.</td>
			<td>10 per day</td>
			<td>500 per day</td>
		</tr>

		<tr id="even">
			<td class="width_300"><b>Data Retention:</b><br>
			For how long you will be able to query for results or make comparisons.
			</td>
			<td>2 Months</td>
			<td>Unlimited</td>
		</tr>

		<tr>
			<td class="width_300"><b>Post sale analysis:</b><br>
			Access to our post sale survey and analysis toolset.
			</td>
			<td><img src="/static/img/pricing/checkmark-green-new.png"
				alt="Green Checkmark" width="20" height="18" /></td>
			<td><img src="/static/img/pricing/checkmark-green-new.png"
				alt="Green Checkmark" width="20" height="18" /></td>
		</tr>

		<tr id="even">
			<td class="width_300"><b>Comparison with industry peers:</b><br>
			Compare your shop with other shops in the same sector, detect your deficiencies and your
			advantages. 
			</td>
			<td></td>
			<td><img src="/static/img/pricing/checkmark-green-new.png"
				alt="Green Checkmark" width="20" height="18" /></td>
		</tr>
		
		<tr>
			<td class="width_300"><b>Industry specialized surveys:</b>
			Use our specialized surveys for your industry instead of the generic.</td>
			<td></td>
			<td><img src="/static/img/pricing/checkmark-green-new.png"
				alt="Green Checkmark" width="20" height="18" /></td>
		</tr>

	</tbody>
</table>

{% endblock content %}
