<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{% block title %}Design Work, Free Template, HTML CSS {% endblock title %}</title>
	{% block metaTags %} 
		<meta name="keywords" content="Customer Science" />
		<meta name="description" content="Meetyourcustomers is a site that allows you to know better your customers" />
	{% endblock metaTags %}
	{% block extraHead %} {% endblock extraHead %}
	<link href="{{STATIC_URL}}css/pricing.css" rel="stylesheet" type="text/css" />
</head>

<body>
	{% include "pricing/fast_bar.html" %}
	<div id="templatemo_body_wrapper">
		<div id="templatemo_wrapper">
		
		   {% include "pricing/header.html" %}
		   
		   {% block content %} 
			<div id="templatemo_middle">
	            <div id="mid_left">
	                <p>Your customers are your best friends, we want to help you to make them happy!</p>
					<p>We can tell you what they feel about your company or products, just give us a try, open your free account.</p>
	            </div>
	            <img src="{{STATIC_URL}}img/users.png" alt="Know your customers" />
		    </div> <!-- end of middle -->
	        
	        <div id="templatemo_main">
	        
	        	<div class="cbox_fw">
	                <div class="cbox_3b fp_box"><span class="b1"></span>
	                    <h4><a href="/account/signup">Get your free account</a></h4>
	                    <p>Create your free account and start the process setting your preferences.</p>
	                </div>
	                <div class="cbox_3b fp_box"><span class="b2"></span>
	                    <h4><a href="#">Connect your shop</a></h4>
	                    <p>Connect your shop, that way we will be able to send the surveys you have configured.</p>
	                </div>
	                <div class="cbox_3b cbox_rm fp_box"><span class="b3"></span>
	                    <h4><a href="#">Meet your customers</a></h4>
	                    <p>Read and analyze the results, improve your shopping experience using your customers' feedback.</p>
	                </div>
	                <div class="cleaner"></div>
	            </div>
	            
	            <div class="cbox_fw">

	                	<h2>Welcome to Meet your customers</h2>
	                	<p>
	                		MeetYourCustomers is a tool to help you improve your shop by listening to what your customers think about your company, 
	                		shopping process, products or services. 
						</p>
						<div class="cleaner h20"></div>
						<div class="cbox_small float_l">
	                    	<h5 class="tw_bullet">Post Sale Analysis</h5>
	                    	<img src="{{STATIC_URL}}img/templatemo_image_05.png" alt="marketing" class="image_frame" />
	                    	<p>Eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim venia mquisa nostrud exercitation ullamco laboris.</p>
	                        <a href="#" class="more float_r"><span>&gt;&gt;</span> Read More</a>                       
	                    </div>
	                    <div class="cbox_small float_l">
	                    	<h5 class="tw_bullet">Technical Consulting</h5>
	                    	<img src="{{STATIC_URL}}img/templatemo_image_06.png" alt="consulting" class="image_frame" />
	                        <p>Ut enim ad minim veniamquis nostrud exercit aliquip ex ea commodo consequat. Duis autei rure dolor in reprehenderit.</p>
							<a href="#" class="more float_r"><span>&gt;&gt;</span> Read More</a>
	                    </div>
	                    <div class="cbox_small float_l">
	                    	<h5 class="tw_bullet">Technical Consulting</h5>
	                    	<img src="{{STATIC_URL}}img/templatemo_image_06.png" alt="consulting" class="image_frame" />
	                        <p>Ut enim ad minim veniamquis nostrud exercit aliquip ex ea commodo consequat. Duis autei rure dolor in reprehenderit.</p>
							<a href="#" class="more float_r"><span>&gt;&gt;</span> Read More</a>
	                </div>
	                <div class="cleaner"></div>
	            </div>
	            
	        </div> <!-- end of main -->
		   {% endblock content %}
	    </div>
	</div>
	
	{% include "pricing/footer.html" %}
	
</body>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
{% block extraJS %} {% endblock extraJS %}

</html>