<div id="templatemo_header">

    <div id="site_title">Meet your customers</div>
    
    <div id="templatemo_menu">
        <ul>
          <li><a href="/" class="current">Home</a></li>
          <li><a href="/pricing/contact">Contact</a></li>
          <li><a href="/account/signup/">Create free account</a></li>
        </ul>
    </div> <!-- end of templatemo_menu -->
</div><!-- end of header -->