<!DOCTYPE html>
<html lang="en">
	<head>
		<title>
		    {% block title %} {% endblock title %}
		</title>
		<link rel="stylesheet" href="{{STATIC_URL}}css/general.css" type="text/css" />
		{% block metaTags %} {% endblock metaTags %}
		{% block extraHead %} {% endblock extraHead %}
	</head>
	
	<body>
	   {% include "stats/header.html" %}
	   <div id="content">
	   {% block content %} {% endblock content %}
	   </div>
	   {% include "survey/footer.html" %}
	</body>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    {% block extraJS %} {% endblock extraJS %}
</html>
