{% extends "stats/basic.html" %}

{% block content %}

	<h1>Welcome {{ user.email }}</h1>
	
	<p>{{ account }}
	
	<h3>Questionaire, today data:</h3>
	<ul>
		{% for questionaire in data.qIndexes %}
			
			<li>Name: {{questionaire.name}} Index: {{questionaire.index}} <a href="/stats/questionaireZoom?model_id={{questionaire.metadata.model_id}}">Zoom in</a></li>
		{% endfor %}
	</ul>
	
	<h3>Alerts</h3>
		<ul>
		
		{% for alert in data.alerts %}
			<li>
			  {{alert.name}} {{alert.created_datetime}} {{alert.user_id}} {{alert.id}}
            </li>
		{% endfor %}
		</ul>
	
	<h3>Last Activity</h3>
	<ul>
		{% for result in data.lastActivity %}
			<li>
			  {{result.model_name}} {{alert.user_id}} {{result.created_datetime}} {{result.id}}
            </li>
		{% endfor %}
	</ul>
	
	<h3>Notifications</h3>
	<ul>
		{% for note in data.notifications %}
			<li>
			  {{note.title}} {{note.description}} 
            </li>
		{% endfor %}
	</ul>
	
{% endblock content %}