{% extends "stats/basic.html" %} 
{% load i18n %}
{% block content %}
<h1>Welcome to the stats</h1>
<ul>
<li><a href="/stats/account/login/?next=/stats/dashboard">{% trans "Log in" %}</a></li>
</ul>
{% endblock content %}
