{% extends "stats/basic.html" %}

{% block content %}


<h3>Active questionaires</h3>
		<div class="activeQuestionaire">
		{% for model in data.models %}
			
			<form action="/stats/modelSettings" method="POST">
				{% csrf_token %}
				<input name="action" value="delete" type="hidden" />
				<input name="model_id" value="{{model.battery_model_id}}" type="hidden" />
				<span>{{model.name}}</span>
				<span>{{model.percentage_flow}}</span>
				<span>{{model.modified_timestamp}}</span>
				<button id="deleteModel">Delete</button>
			</form>
		{% empty %}
    		<span>No active models</span>
		{% endfor %}
		</div>
<h3>Add new questionaire</h3>
	<div>
		<form action="/stats/modelSettings" method="POST">
			{% csrf_token %}
			<input name="action" value="add" type="hidden" />
			<label>Questionaire: 
				<select name="model_id">
					{% for newModel in data.possibleModels %}
						<option value="{{newModel.id}}" >{{newModel.name}}</option>
					{% endfor %}
				</select>
			</label>
			<label>Percentage: <input name="percentage_flow" value="" /></label>
			<button id="viewModel">View Questionaire</button>
			<button id="addModel">Add Questionaire</button>
		</form>
	</div>

{% endblock content %}