{% extends "stats/basic.html" %}
{% load graph_extras %}

{% block content %}
	
	<h1>Welcome {{ account }}</h1>
	
	<p>
	
	<h3>Questionaire, today data:</h3>
	
	<div style="">
		{% do_average_graph data.percentil_global.max data.percentil_global.avg data.percentil_global.p75 data.percentil_global.p25 %}
	</div>

	<h3>Questions:</h3>
	<div>
		{% for question, value in data.percentiles.items %}
			<div>{{value.metadata.description}}</div>
			<div> 	
			 {% do_average_graph value.max value.avg value.p75 value.p25 %}
			</div>
		{% endfor %}	
	</div>
	
{% endblock content %}