{% extends "survey/basic.html" %} 
{% block title %}Questionaire Welcome{% endblock title %} 

{% block content %}
<h1>Post sale survey</h1>
<form action="/survey/save" method="post">
    {% csrf_token %}
    {{ form.as_ul }}
    <div class="buttons">
        <button style="float: right;" type="submit" id="submit_survey" class="submit">Next</button>
    </div>
</form>
{% endblock content %}

{% block extraJS %}
    <script src="{{ STATIC_URL }}javascript/survey.js"></script>
{% endblock extraJS %}