{% extends "survey/basic.html" %} 
{% block title %}Questionaire Welcome{% endblock title %} 

{% block content %}
<h1>Welcome to the post sale survey</h1>
<form action="/survey/new" method="post">
    <p>Thank you for your interest into taking the survey. We work hard to improve your satisfaction with 
    our site, your feedback is very important to us.
    {% csrf_token %}
    {{ form.as_ul }}
    <input type="submit" value="Next" class="Bnext" />
</form>
{% endblock content %}
