* {margin:0; padding:0;}

html {
    font: 90%/1.3 arial,sans-serif;
    padding:1em;
    background:#fafafa;
}
form {
    background:#fff;
    padding:1em;
    border:1px solid #eee;
}
fieldset div {
    margin:0.3em 0;
    clear:both;
}
form {
    margin:1em;
    width:27em;
}
label {
    float:left;
    width:10em;
    text-align:right;
    margin-right:1em;
}
legend {
    color:#0b77b7;
    font-size:1.2em;
}
legend span {
    width:10em;
    text-align:right;
}
input {
    padding:0.15em;
    width:10em;
    border:1px solid #ddd;
    background:#fafafa;
    font:bold 0.95em arial, sans-serif;
    -moz-border-radius:0.4em;
    -khtml-border-radius:0.4em;
}
input:hover, input:focus {
    border-color:#c5c5c5;
    background:#f6f6f6;
} 
fieldset {
    border:1px solid #ddd;
    padding:0 0.5em 0.5em;
    -moz-border-radius:0.4em;
    -khtml-border-radius:0.4em;
}

.date input {}

.date fieldset label {
    float:none;
    display:block;
    text-align:left;
    width:auto;
}
.date fieldset div {
    float:left;
    clear:none;
    margin-right:0.2em;
}
.radio, .date {
    position:relative;
}
.radio fieldset, .date fieldset {
    border:none;
    width:auto;
    padding:1px 0 0 11em;
}
.radio legend, .date legend {
    font-size:1em;
    color:#000;
}
.radio legend span, .date legend span {
    position:absolute;
    left:0;
    top:0.3em;
    width:10em;
    display:block;
}
.radio label, .radio input {
    vertical-align:middle;
    display:inline;
    float:none;
    width:auto;
    background:none;
    border:none;
}
.radio div {
    float:left;
    white-space:nowrap;
    clear:none;
}

.email {
    width:14em;
}

input.default {
    color:#bbb;
}

.submit {
    -moz-box-shadow:inset 0px 0px 0px 1px #bddfff;
    -webkit-box-shadow:inset 0px 0px 0px 1px #bddfff;
    box-shadow:inset 0px 0px 0px 1px #bddfff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
    background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
    background-color:#79bbff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #84bbf3;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:13px;
    font-weight:bold;
    padding:4px 12px;
    text-decoration:none;
}.submit:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
    background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
    background-color:#378de5;
}.submit:active {
    position:relative;
    top:1px;
}

.buttons{
	padding-top: 10px;
	padding-bottom: 25px;
}

.field_errors{
	
}

.field_required{
	
}

/*  Shows the errors' list */
.errorlist{
	
}

