/*
*/
body {
	margin: 0;
	padding: 0;
	color: #888888;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	line-height: 1.5em; 
	background-color: #f8f8f8;
	background-position: top;
	background-repeat: repeat-x;
}

a, a:link, a:visited { color: #2081da; font-weight: normal; text-decoration: none }
a:hover { text-decoration: underline; }

a.more { display: block; color: #2081da; text-align: center; text-decoration: underline }
a.more span { font-size: 14px; letter-spacing: -3px; }
a.more:hover { text-decoration: none }


p { margin: 0 0 10px 0; padding: 0; }
img { border: none; }
blockquote { font-style: italic; margin: 0 0 0 10px;}
cite { font-weight: bold; color: #5f5d5d; }
cite a, cite a:link, cite a:visited  { font-weight: bold; color:#5f5d5d; }
cite span { font-weight: 400; color: #514e51; }
em { color: #5f5d5d; }

h1, h2, h3, h4, h5, h6 { color: #989898; font-weight: normal; }
h1 { font-size: 48px; margin: 0 0 30px; padding: 5px 0 }
h2 { font-size: 24px; margin: 0 0 25px; padding: 5px 0; }
h3 { font-size: 24px; margin: 0 0 20px; padding: 0; }
h4 { font-size: 18px; margin: 10px 0 15px; padding: 0; }
h5 { font-size: 16px; margin: 0 0 10px; padding: 0;  }
h6 { font-size: 12px; margin: 0 0 5px; padding: 0; }

.cleaner { clear: both }
.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h40 { height: 40px }
.h50 { height: 50px }
.h60 { height: 60px }

.float_l { float: left }
.float_r { float: right }

.image_frame { display: inline-block; border: 5px solid #cdcccc; margin-bottom: 10px }
.image_fl { float: left; margin: 3px 30px 0 0 }
.image_fr { float: right; margin: 3px 0 0 30px }

.tmo_list { list-style: disc; padding: 0 0 0 15px }
.tmo_list li { color:#5f5d5d; margin-bottom: 8px }
.tmo_list li a { color: #5f5d5d; font-weight: normal; text-decoration: none }
.tmo_list li a:hover { text-decoration: underline }

#templatemo_body_wrapper {
	width: 100%;
}

#templatemo_wrapper {
	width: 960px;
	padding: 30px 10px 0;
	margin: 0 auto;
}

#templatemo_header {
	width: 960px;
	height: 80px;
	overflow: hidden;
}

#site_title { float: left; margin: 0; font-size: 36px; font-weight: 400; color: #8ebeea; margin-bottom: 30px; padding-top:26px; }

/* fast bar access */
#fast_bar{
	width: 100%;
	height: 20px;
	background-color: black;
	color: blue;
}

#fast_bar ul li a {
	float: right;
	display: block;
	font-size: 12px;
	color: #989898;
	text-decoration: none;
	outline: none;
	border: none;
	padding-right: 10px;
	font-weight: bold;
}

#fast_bar ul li a:HOVER{
	text-decoration: underline;
	color: white;
}

/* menu */
#templatemo_menu {
	float: right;
}

#templatemo_menu ul, #fast_bar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#templatemo_menu ul li, #fast_bar ul li {
	padding: 0;
	margin: 0;
	display: inline;
}

#templatemo_menu ul li a {
	float: left;
	display: block;
	height: 80px;
	line-height: 80px;
	padding: 0 30px;
	font-size: 16px;
	color: #989898;
	text-align: center;
	text-decoration: none;
	font-weight: 400;
	outline: none;
	border: none;
}

#templatemo_menu ul li a:HOVER{
	text-decoration: underline;
	color: #989898;
}


#templatemo_middle { 
	clear: both;
	position: relative;
	width: 940px;
	height: 250px;
	padding: 70px 10px 0;
}

#mid_left { float: left; margin-left: 30px; margin-top: 30px; width: 480px; }
#mid_left p { font-size: 18px; color: #989898; margin-bottom: 20px; }
#mid_left .viewall { clear: both; float: right; display: block; margin-top: 20px; width: 136px; height: 50px; background: url(/static/img/templatemo_viewall_btn.png) no-repeat }
#templatemo_middle img { float: left; margin-left: 60px }

#templatemo_main {
	clear: both;
	padding: 30px 0 0
}

.cbox_fw {
	clear: both;
	margin-bottom: 40px;
}

.cbox_3b {
	float: left;
	width: 300px;
	margin-right: 30px;
}

.cbox_small { 
	width: 300px;
	margin-right: 20px; }

.cbox_rm { margin: 0 } 

.fp_box  { position: relative; height: 110px; width: 220px; padding: 20px 20px 20px 60px; background: url(/static/img/templatemo_fp_box.png) no-repeat } 
.fp_box h4, .fp_box h4 a { color: #145da1 }
.fp_box span { position: absolute; top: 25px; left: 20px; width: 30px; height: 30px; }
.fp_box span.b1 {  background: url(/static/img/root/one.png) no-repeat }
.fp_box span.b2 { background: url(/static/img/root/two.png) no-repeat }
.fp_box span.b3 { background: url(/static/img/root/three.png) no-repeat }

.tw_bullet { color: #989898; padding-left: 20px; font-weight: 700; background: url(/static/img/templatemo_title.png) center left no-repeat }

.rp_box { clear: both; margin-bottom: 20px; padding-bottom: 20px; border-bottom: 1px solid #CCC }
.rp_box img { float: left; margin-right: 15px; border: 1px solid #fff }


/* footer */
#templatemo_footer_wrapper {
	clear: both;
	width: 100%;
	background: #ebebeb;
	margin-bottom: 20px;
}

#templatemo_footer{
	clear: both;
	width: 960px;
	padding: 10px;	
	margin: 0 auto;
	color: #9e9b9b;
	text-align: center;
}

#templatemo_footer a{ 
	color: #9e9b9b;
}


/* Contact form */
#contact_form { 
	padding: 0; 
	width: 430px;
}

#contact_form form { 
	margin: 0px; 
	padding: 0px; 
}

#contact_form form .controls input { 
	width: 270px; 
	padding: 5px; 
	color: #333333;  
	background: #f4f6f9; 
	border: 1px solid #999999; 
	font-size: 12px;
	margin-top: 5px;
}

#contact_form form label { 
	display: block; 
	width: 100px; 
	margin-right: 12px; 
	font-size: 13px; 
}

#contact_form form textarea { 
	width: 420px; 
	height: 200px; 
	padding: 5px; 
	color: #333333;  
	background: #f4f6f9; 
	border: 1px solid #999999; 
	font-size: 12px;
	margin-top: 5px;
}

#contact_form form .submit_btn { 
	padding: 8px 14px; 
	color: #333333;  
	background: #f4f6f9; 
	border: 1px solid #999999; 
	font-size:14px; 
	margin: 10px 0px;
}

/* Features */
.features {
	border: 0 none;
}

.features th {
	font-size:18px;
    font-weight: 600;
    padding: 20px 20px;
}

.width_300 {
	text-align: left;
	width: 300px;
}

.features td {
	text-align: center;
}

.features #even{
	background-color: white;
}
