{% extends "pricing/basic.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap_tags %}

{% block title %}{% trans "Log in" %}{% endblock %}

{% block content %}
    <div class="cleaner h20"></div>
		<div class="cbox_fw">
			<div class="cbox_large float_l">
			<h2>{% trans "Log in to an existing account" %}</h2>
			<div id="contact_form">
           <form method="POST" action="{% url "account_login" %}" autocapitalize="off" class="form-horizontal"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
               
               {% csrf_token %}
               {{ form|as_bootstrap }}
               {% if redirect_field_value %}
                   <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
               {% endif %}
               <div class="form-actions">
                   <a href="{% url "account_password_reset" %}" class="btn">{% trans "Forgot your password?" %}</a>
                   <button type="submit" class="btn btn-primary">{% trans "Log in" %}</button>
               </div>
           </form>
           </div>
       </div>
    </div>
{% endblock %}