{% extends "pricing/basic.html" %}

{% load url from future %}
{% load i18n %}
{% load account_tags %}

{% block title %}{% trans "Password reset sent" %}{% endblock %}

{% block content %}
    <h1>{% trans "Password reset sent" %}</h1>
    {% if not resend %}
        <p>{% blocktrans %}We have sent you an email. If you do not receive it within a few minutes, try resending or <a href="/pricing/contact">contact us</a>.{% endblocktrans %}</p>
        <form method="POST" action="{% url "account_password_reset" %}">
            {% csrf_token %}
            {% for field in form %}
                {{ field.as_hidden }}
            {% endfor %}
            <button type="submit" name="resend" class="btn btn-primary">{% trans "Resend" %}</button>
        </form>
    {% else %}
        <p>{% blocktrans %}We have resent the password email. If you do not receive it within a few minutes, 
        <a href="/pricing/contact">contact us</a>.{% endblocktrans %}</p>
    {% endif %}
{% endblock %}