{% extends "pricing/basic.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap_tags %}
{% load account_tags %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% user_display request.user as user_display %}

{% block content %}
	<h2>{% trans "Password reset" %}</h2>
    <form method="POST" action="">
        <p>{% trans "Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it." %}</p>
            {% csrf_token %}
            {{ form|as_bootstrap }}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{% trans "Reset my password" %}</button>
            </div>
    </form>
    
    <p>{% blocktrans %}If you have any trouble resetting your password, <a href="/pricing/contact">contact us</a>.{% endblocktrans %}</p>
{% endblock %}

{% block extraJS %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}