{% extends "account/base.html" %}

{% load url from future %}
{% load bootstrap_tags %}

{% block title %}Account{% endblock %}

{% block content %}
    <form method="POST" action="{% url "account_settings" %}">
        <legend>Account</legend>
        {% csrf_token %}
        {{ form|as_bootstrap }}
        <div class="form-actions">
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
    </form>
{% endblock %}