{% extends "pricing/basic.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap_tags %}
{% block title %}{% trans "Sign up" %}{% endblock %}

{% block content %}
    <div class="cleaner h20"></div>
			<div class="cbox_fw">
				<div class="cbox_large float_l">
					<h2>Create your account</h2>
					<p>
						We offer basic free accounts to show you the value we can provide to your business.	
						The basic account does not have expiration time, you can keep it as long as you find it its useful.
					</p>
					<p>
						In case you want to later upgrade to a premium account, you can do it directly in your dashboard once you have created an account. 
						<a href="/pricing/accounts" >Head comparison between premium and basic account</a>. 
					</p>
					<div id="contact_form">
						<form id="signup_form" method="post" action="{% url "account_signup" %}" autocapitalize="off" class="form-horizontal" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
		                
		                    {% csrf_token %}
		                    {{ form|as_bootstrap }}
		                    {% if redirect_field_value %}
		                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
		                    {% endif %}
		                    <div class="form-actions">
		                        <button type="submit" class="submit_btn float_l">{% trans "Sign up" %}</button>
		                    </div>
            			</form>
					</div>

					<div class="cleaner h20"></div>
				</div>
		</div>
   
{% endblock %}